# WhatsApp Contact
NEXT_PUBLIC_WHATSAPP_NUMBER=5512982798846
NEXT_PUBLIC_WHATSAPP_MESSAGE=Olá! Gostaria de solicitar um orçamento para serviços elétricos residenciais.

# Social Media
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/jeanlucas_eletricista/
NEXT_PUBLIC_GOOGLE_BUSINESS=https://share.google/slNMDMZYIq0BFv93d

# Contact
NEXT_PUBLIC_EMAIL=jeanlucas.solutions@gmail.com
